[submodule "JOML"]
	path = JOML
	url = https://github.com/JOML-CI/JOML
[submodule "Logger"]
	path = Logger
	url = https://github.com/vandench/Logger
[submodule "Utils"]
	path = Utils
	url = https://github.com/vandench/Utils/
